extends admin

block content
  .row
    .container-fluid
      a(href="").btn.btn-primary Create Teacher
  table.table.table-bordered.bg-light
    tr
      th werwer
        td werwerw
        td werweew