doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Login
    link(rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css')
  body
    .container
      p Sample

script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')
script(type='text/javascript' src='/javascripts/bootstrap.min.js')