extends teachers

block content
  .container
    .row
      .col-md-3
        a(href="").btn.bg-light Add Student
      .col-md-3
        a(href="").btn.bg-light View Enrolled Students
    .size-1
      table.table.table-bordered.bg-light
        tr.text-center
          th Student Number
          th Student Name
          th Grade Level
          th Section
          th Date Enrolled